# Arquivos do Gradle
.gradle/
build/
local.properties

# Android Studio
*.iml
.idea/
.DS_Store

# Arquivos gerados
bin/
gen/
out/

# Arquivos de build nativo
.externalNativeBuild
.cxx/

# Arquivos de captura
captures/

# Arquivos específicos do Proguard
proguard/

# Log Files
*.log

# Android Studio Navigation editor
.navigation/

# Android Studio captures folder
captures/

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# Freeline
freeline.py
freeline/
freeline_project_description.json

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md
